@using Aloha.Domain.Questionnaires
@using Blazored.FluentValidation
@using FluentValidation
@using Aloha.Domain.Services.Translations
@using System.Globalization
@using Aloha.Admin.Web.Components.Features.Customization.Questionnaires
@inject ITranslationHelper TranslationHelper
@inject ILanguageConfigurationService LanguageConfigService
@rendermode InteractiveServer

<EditForm novalidate
          OnSubmit="HandleSubmitAsync"
          EditContext="editContext"
          Context="questionFormContext"
          FormName="AddQuestion">
    <FluentValidationValidator/>
    @* Multi-language input for Name *@
    <MultiLanguageInput Label="Name"
                       FieldId="questionName"
                       Placeholder="Enter question name"
                       Rows="1"
                       IsDisabled="false"
                       Field="@input.NameField"
                       FieldChanged="@((MultilingualField f) => input.NameField = f)"
                       SelectedCultureOverride="@SelectedCulture"
                       SelectedCultureOverrideChanged="@((string culture) => { })" />

    @* Multi-language input for Description *@
    <MultiLanguageInput Label="Description"
                       FieldId="questionDescription"
                       Placeholder="Enter question description"
                       Rows="3"
                       IsDisabled="false"
                       Field="@input.DescriptionField"
                       FieldChanged="@((MultilingualField f) => input.DescriptionField = f)"
                       SelectedCultureOverride="@SelectedCulture"
                       SelectedCultureOverrideChanged="@((string culture) => { })" />
    <div class="mb-2">
        <label class="form-label">Question Group</label>
        <InputSelect class="form-select" @bind-Value="input.GroupId">
            <option value="">None</option>
            @{
                var orderedQuestionGroups = QuestionGroups.OrderBy<Aloha.Admin.Web.Components.Features.Customization.Questionnaires.QuestionGroupForm.DraftInput, int>(g => g.SortOrder).ToList();
            }
            @foreach (var group in orderedQuestionGroups)
            {
                <option value="@group.DraftId">@group.NameField.Get(SelectedCulture, PrimaryLanguage)</option>
            }
        </InputSelect>
    </div>
    <div class="mb-2">
        <InputCheckbox class="form-check-input"
                       id="question-is-required-input"
                       @bind-Value="input.IsRequired"/>
        <label for="question-is-required-input" class="form-check-label">Is Required?</label>
    </div>
    <div class="mb-2">
        <label class="form-label">Question Type*</label>
        <InputSelect required class="form-select" @bind-Value="@input.Type">
            @foreach (var questionType in Enum.GetValues<QuestionType>())
            {
                <option value="@questionType">@questionType.ToDisplayName()</option>
            }
        </InputSelect>
        <ValidationMessage For="() => input.Type"/>
    </div>
    @if (input.Type != QuestionType.FreeForm)
    {
        <div class="card my-3">
            <div class="card-header">Question Options</div>
            <div class="card-body">
                <ul class="mb-0 list-unstyled">
                    @if (!input.MultipleChoiceOptions.Any())
                    {
                        <li>No multiple choice options entered</li>
                    }
                    else
                    {
                        var orderedOptions = input.MultipleChoiceOptions.OrderBy(o => o.SortOrder).ToList();
                        foreach (var option in orderedOptions)
                        {
                            var isOptionBeingEdited = optionBeingEdited?.DraftId == option.DraftId;
                            <li style=@(isOptionBeingEdited ? "border-width: 2px; border-radius: 4px; border-color: var(--bs-primary); border-style: solid; padding: 8px" : string.Empty)>
                                @if (isOptionBeingEdited)
                                {
                                    <p class="text-primary fw-bold mb-0">Currently Editing</p>
                                    <hr class="my-2"/>
                                }
                                <div class="d-flex justify-content-start" style="gap: 8px">
                                    <div>
                                        <label for=@($"sort-option-{option.DraftId}")>Sort*</label>
                                        <InputNumber id=@($"sort-option-{option.DraftId}")
                                                     min="0"
                                                     @bind-Value="option.SortOrder"
                                                     class="form-control"
                                                     style="width: 64px"/>
                                    </div>
                                    <div class="flex-fill">
                                        <div>
                                            @{
                                                var optionName = GetLocalizedText(option.NameField, SelectedCulture, PrimaryLanguage);
                                            }
                                            @if (string.IsNullOrWhiteSpace(optionName))
                                            {
                                                <span class="text-danger">(empty)</span>
                                            }
                                            else
                                            {
                                                @optionName
                                            }
                                            @if (option.HasDependentQuestion)
                                            {
                                                var depQuestionName = GetLocalizedText(option.DependentQuestionNameField, SelectedCulture, PrimaryLanguage);
                                                @if (string.IsNullOrWhiteSpace(depQuestionName))
                                                {
                                                    <span class="fst-italic text-danger"> - (empty)</span>
                                                }
                                                else
                                                {
                                                    <span class="fst-italic"> - @depQuestionName</span>
                                                }

                                                <span> (@option.DependentQuestionType.ToDisplayName())</span>
                                            }
                                        </div>
                                        @if (option is { HasDependentQuestion: true, DependentQuestionType: DependentQuestionType.MultipleSelect or DependentQuestionType.SingleSelect })
                                        {
                                            <ul>
                                                @{
                                                    var orderedDepOptions = option.DependentMultipleChoiceOptions!.OrderBy(o => o.SortOrder).ToList();
                                                    foreach (var depOption in orderedDepOptions)
                                                {
                                                    <li>
                                                        <div class="flex-fill">
                                                                @{
                                                                    var depOptionName = GetLocalizedText(depOption.NameField, SelectedCulture, PrimaryLanguage);
                                                                }
                                                                @if (string.IsNullOrWhiteSpace(depOptionName))
                                                                {
                                                                    <span class="text-danger">(empty)</span>
                                                                }
                                                                else
                                                                {
                                                                    @depOptionName
                                                                }
                                                            @if (depOption.HasFreeFormField)
                                                            {
                                                                    var freeFormDesc = GetLocalizedText(depOption.FreeFormFieldDescriptionField, SelectedCulture, PrimaryLanguage);
                                                                    @if (string.IsNullOrWhiteSpace(freeFormDesc))
                                                                    {
                                                                        <span class="fst-italic text-danger"> - (empty)</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="fst-italic"> - @freeFormDesc</span>
                                                                    }
                                                                <span> (Free Form)</span>
                                                            }
                                                        </div>
                                                    </li>
                                                    }
                                                }
                                            </ul>
                                        }
                                    </div>
                                    <div class="d-flex align-items-baseline gap-2">
                                        <button class="btn btn-outline-secondary"
                                                type="button"
                                                @onclick=@(() => OpenEditMultipleChoiceOptionForm(option))>
                                            <Icon Name="IconName.PencilFill"/>
                                        </button>
                                        <button class="btn btn-outline-danger"
                                                type="button"
                                                @onclick=@(() => RemoveMultipleChoiceOption(option))>
                                            <Icon Name="IconName.TrashFill"/>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>

        <div class="d-flex mb-4">
            <div class="d-lg-block d-none"
                 style="border-width: 0; border-left-width: 1px; border-style: solid; border-color: var(--bs-border-color)">
                <div class="mx-3"></div>
            </div>
            <div class="flex-fill">
                <h5 class="mb-2">@($"{(isEditingOption ? "Edit" : "Add")} ")Multiple Choice Option</h5>
                <MultipleChoiceOptionForm
                    InitialValues="optionBeingEdited"
                    IsEditing="isEditingOption"
                    OnClose="CloseEditMultipleChoiceOptionForm"
                    OnSubmit="@(isEditingOption ? EditMultipleChoiceOption : AddMultipleChoiceOption)"
                    SelectedCulture="@SelectedCulture"
                    PrimaryLanguage="@PrimaryLanguage"
                />
            </div>
        </div>
    }
    <div class="d-flex flex-column">
        @if (input.HasSubmitted && editContext.GetValidationMessages().Any())
        {
            <Alert Color="AlertColor.Danger">
                <Icon class="me-2" Name="IconName.ExclamationTriangleFill"></Icon>
                Some information is missing and/or invalid. Please review your responses.
            </Alert>
        }
        <div class="mt-2 d-flex gap-2">
            @if (IsEditing)
            {
                <button class="btn btn-outline-primary">Save Question Edits</button>
                <button class="btn btn-outline-secondary" @onclick="OnClose.InvokeAsync" type="button">Cancel</button>
            }
            else
            {
                <button class="btn btn-outline-primary">Add Question</button>
            }
        </div>
    </div>
</EditForm>

@code {

    private bool isEditingOption;
    private MultipleChoiceOptionForm.DraftInput? optionBeingEdited;
    private Input input = default!;
    private ValidationMessageStore messageStore = default!;
    private EditContext editContext = default!;

    private IList<Aloha.Admin.Web.Components.Features.Customization.Questionnaires.QuestionGroupForm.DraftInput> questionGroups = [];
    private QuestionForm.DraftInput? initialValues;

    [Parameter]
    public bool IsEditing { get; set; }

    [Parameter]
    public QuestionForm.DraftInput? InitialValues { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<Input> OnSubmit { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<Input> OnClose { get; set; }

    [Parameter, EditorRequired]
    public IList<Aloha.Admin.Web.Components.Features.Customization.Questionnaires.QuestionGroupForm.DraftInput> QuestionGroups { get; set; } = default!;

    [Parameter]
    public string SelectedCulture { get; set; } = "en-US";

    [Parameter]
    public string PrimaryLanguage { get; set; } = "en-US";

    private string GetLocalizedText(MultilingualField field, string selectedCulture, string primaryLang)
    {
        return field.Get(selectedCulture, primaryLang);
    }

    protected override void OnInitialized()
    {
        questionGroups = QuestionGroups;
        initialValues = InitialValues;
        input = Input.CreateFromDraft(initialValues);
        editContext = new EditContext(input);
        messageStore = new ValidationMessageStore(editContext);
        editContext.OnValidationRequested += (_, _) => messageStore.Clear();
        editContext.OnFieldChanged += (_, e) => messageStore.Clear(e.FieldIdentifier);
    }


    protected override void OnParametersSet()
    {
        // If question group list changes...
        if (!ReferenceEquals(QuestionGroups, questionGroups))
        {
            questionGroups = QuestionGroups;

            // If the currently selected group does not exist anymore, clear the group field
            if (questionGroups.All(g => g.DraftId != input.GroupId))
            {
                input.GroupId = null;
            }
        }

        // If initial values change...
        if (InitialValues != initialValues)
        {
            initialValues = InitialValues;

            // Clear the form if new values are null...
            if (initialValues is null)
            {
                input.Clear();
                messageStore.Clear();
                editContext.MarkAsUnmodified();
                editContext.NotifyValidationStateChanged();
            }
            // Otherwise, replace form values with initial values
            else
            {
                input.UpdateFromDraft(initialValues);
                editContext.Validate();
            }

            // Clear sub-forms
            CloseEditMultipleChoiceOptionForm();
        }
    }

    private void OpenEditMultipleChoiceOptionForm(MultipleChoiceOptionForm.DraftInput option)
    {
        isEditingOption = true;
        optionBeingEdited = option;
    }

    private void CloseEditMultipleChoiceOptionForm()
    {
        isEditingOption = false;
        optionBeingEdited = null;
    }

    private void EditMultipleChoiceOption(MultipleChoiceOptionForm.Input values)
    {
        var option = input.MultipleChoiceOptions.First(o => o.DraftId == optionBeingEdited!.DraftId);
        option.NameField = new MultilingualField { PrimaryValue = values.NameField.PrimaryValue };
        foreach (var kvp in values.NameField.Translations)
        {
            option.NameField.Translations[kvp.Key] = kvp.Value;
        }
        option.HasDependentQuestion = values.HasDependentQuestion;

        if (values.HasDependentQuestion)
        {
            option.DependentQuestionNameField = new MultilingualField { PrimaryValue = values.DependentQuestionNameField.PrimaryValue };
            foreach (var kvp in values.DependentQuestionNameField.Translations)
            {
                option.DependentQuestionNameField.Translations[kvp.Key] = kvp.Value;
            }
            option.DependentQuestionType = values.DependentQuestionType;

            option.DependentMultipleChoiceOptions =
                values.DependentQuestionType == DependentQuestionType.SingleSelect ||
                values.DependentQuestionType == DependentQuestionType.MultipleSelect
                    ? [..values.DependentMultipleChoiceOptions]
                    : null;
        }
        else
        {
            option.DependentQuestionNameField.Clear();
            option.DependentQuestionType = DependentQuestionType.None;
            option.DependentMultipleChoiceOptions = null;
        }

        CloseEditMultipleChoiceOptionForm();
    }

    private void AddMultipleChoiceOption(MultipleChoiceOptionForm.Input values)
    {
        var draft = new MultipleChoiceOptionForm.DraftInput
        {
            DraftId = Guid.NewGuid(),
            HasDependentQuestion = values.HasDependentQuestion,
            DependentQuestionType = values.HasDependentQuestion ? values.DependentQuestionType : DependentQuestionType.None,
            DependentMultipleChoiceOptions =
                values.HasDependentQuestion &&
                (values.DependentQuestionType == DependentQuestionType.SingleSelect ||
                    values.DependentQuestionType == DependentQuestionType.MultipleSelect)
                    ? [..values.DependentMultipleChoiceOptions]
                    : null
        };

        draft.NameField = new MultilingualField { PrimaryValue = values.NameField.PrimaryValue };
        foreach (var kvp in values.NameField.Translations)
        {
            draft.NameField.Translations[kvp.Key] = kvp.Value;
        }

        if (values.HasDependentQuestion)
        {
            draft.DependentQuestionNameField = new MultilingualField { PrimaryValue = values.DependentQuestionNameField.PrimaryValue };
            foreach (var kvp in values.DependentQuestionNameField.Translations)
            {
                draft.DependentQuestionNameField.Translations[kvp.Key] = kvp.Value;
            }
        }

        input.MultipleChoiceOptions.Add(draft);
    }

    private void RemoveMultipleChoiceOption(MultipleChoiceOptionForm.DraftInput option)
    {
        input.MultipleChoiceOptions.Remove(option);

        if (optionBeingEdited?.DraftId == option.DraftId)
        {
            CloseEditMultipleChoiceOptionForm();
        }
    }

    private async Task HandleSubmitAsync()
    {
        input.HasSubmitted = true;
        if (!editContext.Validate())
        {
            StateHasChanged();
            return;
        }
        input.Trim();
        await OnSubmit.InvokeAsync(input);
        await OnClose.InvokeAsync();
        input.Clear();
        CloseEditMultipleChoiceOptionForm();
    }

    public class DraftInput
    {
        public Guid DraftId { get; set; }
        public MultilingualField NameField { get; set; } = new();
        public MultilingualField DescriptionField { get; set; } = new();
        public bool IsRequired { get; set; }
        public int SortOrder { get; set; }
        public required QuestionType Type { get; set; }
        public Guid? DraftGroupId { get; set; }
        public int? GroupId { get; set; }
        public IList<MultipleChoiceOptionForm.DraftInput>? MultipleChoiceOptions { get; set; }

        public static DraftInput CreateFromQuestion(Question question, Guid? draftGroupId, MultilingualField? nameField = null, MultilingualField? descriptionField = null)
        {
            var result = new DraftInput
            {
                DraftId = Guid.NewGuid(),
                IsRequired = question.IsRequired,
                SortOrder = question.SortOrder,
                Type = question.Type,
                DraftGroupId = draftGroupId,
                GroupId = question.QuestionGroupId,
                MultipleChoiceOptions = question.MultipleChoiceOptions?
                    .Select((MultipleChoiceOption o) => MultipleChoiceOptionForm.DraftInput.CreateFromOption(o))
                    .ToList()
            };

            if (nameField != null)
            {
                result.NameField = new MultilingualField { PrimaryValue = nameField.PrimaryValue };
                foreach (var kvp in nameField.Translations)
                {
                    result.NameField.Translations[kvp.Key] = kvp.Value;
                }
            }
            else
            {
                result.NameField.PrimaryValue = question.Name;
            }

            if (descriptionField != null)
            {
                result.DescriptionField = new MultilingualField { PrimaryValue = descriptionField.PrimaryValue };
                foreach (var kvp in descriptionField.Translations)
                {
                    result.DescriptionField.Translations[kvp.Key] = kvp.Value;
                }
            }
            else
            {
                result.DescriptionField.PrimaryValue = question.Description ?? string.Empty;
            }

            return result;
        }
    }

    public class Input
    {
        public bool HasSubmitted { get; set; }
        public MultilingualField NameField { get; set; } = new();
        public MultilingualField DescriptionField { get; set; } = new();
        public Guid? GroupId { get; set; }
        public bool IsRequired { get; set; }
        public QuestionType Type { get; set; } = QuestionType.FreeForm;
        public IList<MultipleChoiceOptionForm.DraftInput> MultipleChoiceOptions { get; set; } = [];

        public static Input CreateFromDraft(QuestionForm.DraftInput? draft)
        {
            var newInput = new Input();

            if (draft is not null)
            {
                newInput.UpdateFromDraft(draft);
            }

            return newInput;
        }

        public void UpdateFromDraft(QuestionForm.DraftInput draft)
        {
            NameField = new MultilingualField { PrimaryValue = draft.NameField.PrimaryValue };
            foreach (var kvp in draft.NameField.Translations)
            {
                NameField.Translations[kvp.Key] = kvp.Value;
            }

            DescriptionField = new MultilingualField { PrimaryValue = draft.DescriptionField.PrimaryValue };
            foreach (var kvp in draft.DescriptionField.Translations)
            {
                DescriptionField.Translations[kvp.Key] = kvp.Value;
            }

            GroupId = draft.DraftGroupId;
            IsRequired = draft.IsRequired;
            Type = draft.Type;
            MultipleChoiceOptions = draft.MultipleChoiceOptions == null ? [] : [..draft.MultipleChoiceOptions];
        }

        public void Trim()
        {
            NameField.PrimaryValue = NameField.PrimaryValue?.Trim() ?? string.Empty;
            DescriptionField.PrimaryValue = DescriptionField.PrimaryValue?.Trim() ?? string.Empty;
        }

        public void Clear()
        {
            NameField.Clear();
            DescriptionField.Clear();
            GroupId = null;
            IsRequired = false;
            Type = QuestionType.FreeForm;
            MultipleChoiceOptions = [];
        }
    }

    public class FormValidator : AbstractValidator<Input>
    {
        public FormValidator()
        {
            When(input => input.HasSubmitted, () =>
            {
                RuleFor(p => p.NameField.PrimaryValue).NotEmpty().WithMessage("Question name is required");

                When(p => p.Type != QuestionType.FreeForm, () =>
                        {
                            RuleFor((QuestionForm.Input p) => p.MultipleChoiceOptions)
                                .NotEmpty()
                                .WithMessage("Please provide multiple choice options for this question");
                        });
            });
        }
    }

}